html, body {
    padding: 20px 50px 50px;
    margin: 0;
    color: #454545;
    font-size: 17px;
  }

h1 {
    font-size: 2.4em;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px dotted #DDD;
    line-height: 1.7;
  }

h2 {
  color: rgb(28, 68, 87);
}
.btn {
    background-color: black;
    color: cornsilk;
}

.example {
  font-style: italic;
  
}

.youtube {
  margin: 5px;
}