input[type=text]{
    padding:10px;
    margin: 10px;
  }

html, body {
    padding: 20px 50px 50px;
    margin: 0;
    color: #454545;
    font-size: 17px;
  }

h1 {
    font-size: 2.4em;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px dotted #DDD;
    line-height: 1.7;
  }

h2 {
  color: rgb(28, 68, 87);
}

.transition {
    text-align: center;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: rgb(34, 182, 157);
    transition-property: transform background;
    transition-duration: 1s;
  }
  
  .transition:hover {
    transform: rotate(90deg);
    background: rgba(255,0,0,0);
  }


#demo {
    margin-top: 10px;
}

/* Animation */
#myDIV {
    margin-top: 25px;
    text-align: center;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background: lightslategray;
    position: relative;
    font-size: 20px;
  }
  
  /* Chrome, Safari, Opera */
  @-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }